body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    background-color: #2a0a2a;
    color: white;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
}

h1 {
    margin-bottom: 2rem;
}

.review-info {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 10px;
    margin: 1rem 0;
    max-width: 600px;
    width: 100%;
}

.counter {
    font-size: 1.2em;
    margin: 2rem 0;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--container-padding);
  background-color: #2a0a2a;
  color: #fff;
}

footer p {
  font-size: 12px;
}

footer #lastModified {
  color: var(--accent2-color);
  margin: 10px 0px 10px 0px;
}